.login-page {
  display: flex;
  height: 100vh;
}

.login1-page {
  display: flex;
  width:50%;
  justify-content: center;
  align-items: center;    
  /* height: 100vh; */
  /* background-color: white; */
}

.login-container {
  background-color: rgba(36, 36, 28, 0.589);
  padding: 30px;
  height:540px;
  width: 360px;
  /* border: 5px solid rgb(12, 12, 12); */
  border-radius: 15px;
  text-align: center;
}

.ab{
  text-align: center;
  margin-bottom: 30px;
  margin-top: -25px;
}

.a{
  text-align: left;
  margin-top: -2px;
  padding-left: 50px;
  font-weight: 500;
}

.ad{
  text-align: left;
  margin-top: -2px;
  padding-left: 67px;
  font-weight: 500;
}

.logininput {
  display: block;
  width: 70%;
  padding: 8px;
  margin-top: -15px;
  margin-left: 50px;
  margin-bottom: 25px ;
  border: 2px solid #4b45457e;
  border-radius: 8px;
  font-size: 14px;
}


.but {
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  width:110px;
  cursor: pointer;
}

.but:hover {
  background-color: #0056b3;
}

.b{
color: #0d00ff;
}

.create{
  margin-top: -43px;
  margin-left: 78px;
  text-align: center;
}


.logo{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:link,a:visited{
  color:white;
  text-decoration: none;
}

.google{
  width: 58%;
  margin-top: 30px;
}
